{% extends 'superadmin/menu.html' %}
{% block title %}{{pagetitle}} ADD NEW BOOK {% endblock %}
{% load static %}
{% block body %}

<div class="thirteen wide column" style="z-index: 99;">
    <div class="ui segments">
    <div class="">
        <h2 class="ui segment bg-black block header">
            <i class="book icon"></i> [ ___Add-New-Text-Book___ ]
        </h2>
    </div>
    <div class="ui inverted secondary segment" style="height: 90vh;">
        
        <div class="ui segment" style="width: 40%; margin: auto;">
    
            <form method="POST" class="ui form" style="padding: 15px;">
                <h3 class="ui block header">Add New Book</h3>
                <div class="field">
                    <label for="bookname">Book Name</label>
                    {{form.bookname}}
                </div>
                <div class="field">
                    <label for="classfor">Class</label>
                    {{form.classfor}}
                </div>
                <div class="field">
                    <label for="classfor">Subject Code</label>
                    {{form.subjectcode}}
                </div>
                <div class="field">
                    {% csrf_token %}
                    <input type="submit" value="SAVE BOOK INFO" class="ui blue button">
                </div>
            </form>
        </div>

    </div>
</div>
</div>
<script>
    $(document).ready(function(){
       
    });
</script>
{% endblock %}



