{% extends 'teacher/menu.html' %}
{% block title %}{{pagetitle}} {% endblock %}
{% load static %}
{% block body %}
<div class="thirteen wide column">
    <h2 class="ui inverted large segment">
        <img src="{% static '/img/dashboard.png' %}" class="ui avatar inline image"> / {{paneltitle}}
    </h2>
    <div class="div ui segment">
        <div class="ui four column centered grid">
            <div class="column centered">
                <a href="{% url 'teacher:takeattendance' %}">
                <div class="panel gradient-red">
                    <h4 class="ui yellow header">Take Attendance</h4>
                    <div class="ui divider"></div>
                    <span class="cirular">01</span>
                </div>
                </a>
            </div>
            <div class="column centered">
                <a href="{% url 'teacher:aproveleave' %}">
                <div class="panel gradient-blue">
                    <h4 class="ui yellow header">Leave Aproval</h4>
                    <div class="ui divider"></div>
                    <span class="cirular">02</span>
                </div>
                </a>
            </div>
            <div class="column">
                <a href="{% url 'teacher:assignment' %}">
                <div class="panel gradient-green">
                    <h4 class="ui yellow header">Assignment Implement</h4>
                    <div class="ui divider"></div>
                    <span class="cirular">03</span>
                </div>
                </a>
            </div>
            <div class="column">
                <a href="{% url 'student:StPayment' %}">
                <div class="panel gradient-pink">
                    <h4 class="ui yellow header">Announce Notice</h4>
                    <div class="ui divider"></div>
                    <span class="cirular">04</span>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}